#header {
  background-image: url(assets/bg-header.jpg);
  background-repeat: initial;
  background-position: 175px -75px;
  background-size: cover;
  height: 660px;
  width: 100%; }

#header #banner .banner h4, #investigationes h4, #fortofolio h4 {
  font-family: "Leckerli One", cursive;
  font-size: 30px; }

#header #banner .btn-dark {
  color: #FFFFFF;
  font-weight: 900;
  background-color: #1F1E1E;
  cursor: pointer;
  text-transform: uppercase;
  padding: 10px 30px;
  font-size: 10px;
  border-radius: 50px; }

#fortofolio .weight-700 {
  font-weight: 700;
  font-size: 30px; }

#header #banner .bg-header-text, #investigationes p, #icon .media p {
  font-family: "Montserrat", sans-serif;
  font-size: 17px;
  font-weight: 300; }

#header .header-bg {
  background-color: rgba(0, 0, 0, 0.6);
  height: 660px; }
#header #header .logo img {
  width: 150px; }
#header #nav-top {
  padding-top: 25px; }
#header nav li {
  font-size: 14px;
  padding: 0 15px; }
#header nav a {
  color: #FFFFFF;
  font-weight: 700; }
#header nav a:hover {
  color: #8799A3; }
#header nav li.active a {
  color: #8799A3; }
#header nav .btn-outline-success {
  border-radius: 50px;
  padding: 10px 30px;
  font-weight: 900;
  border: 2px solid #ffff00;
  color: #ffff00;
  box-shadow: 0 1px 5px #ffff00;
  text-transform: uppercase;
  font-size: 10px; }
#header nav .btn-outline-success:hover {
  background-color: #FFFF00 !important;
  border: 2px solid #ffff00;
  color: black;
  text-transform: uppercase; }
#header #banner {
  color: aliceblue;
  padding-top: 150px; }
  #header #banner .bg-header-text {
    color: #636363; }
  #header #banner .banner h1 {
    font-family: "Montserrat", sans-serif;
    font-size: 50px;
    font-weight: 900; }
  #header #banner .banner .bg-header-headling {
    font-family: "Montserrat", sans-serif;
    font-size: 27px;
    color: #FFFFFF; }
  #header #banner .btn-dark:hover {
    background-color: darkgrey; }
  #header #banner span {
    color: #0081FF; }

#investigationes {
  padding: 80px 0 30px 0;
  background-color: #0081FF; }
  #investigationes p {
    color: #FFFFFF; }
  #investigationes .weight-700 {
    font-weight: 700;
    font-size: 30px;
    line-height: 35px; }

#icon {
  padding: 40px 0;
  background-color: #007af3;
  font-size: 13px; }
  #icon .media img {
    width: 40px; }
  #icon .media h5 {
    color: #FFFFFF;
    font-weight: 700;
    font-family: "Montserrat", sans-serif; }
  #icon .media p {
    color: #FFFFFF; }

#icon-baryy {
  padding: 80px 0;
  background-color: #0081FF; }
  #icon-baryy .media-content p {
    display: inline-block;
    color: #FFFFFF;
    font-family: "Cambay", sans-serif;
    font-size: 15px; }
  #icon-baryy .media-content .media-1 {
    display: inline-block; }
    #icon-baryy .media-content .media-1 li {
      display: inline;
      padding: 0 10px; }
    #icon-baryy .media-content .media-1 i {
      color: #3a9dff;
      font-size: 15px; }
    #icon-baryy .media-content .media-1 .activeq a i {
      color: white; }

#fortofolio {
  padding: 80px 0; }
  #fortofolio h4 {
    color: #8799A3; }
  #fortofolio p {
    font-family: "Montserrat", sans-serif;
    font-size: 15px;
    color: black; }
  #fortofolio .btn-primary {
    margin-left: 40%;
    margin-top: 30px;
    background-color: #1CBBB3;
    padding: 5px 30px; }
  #fortofolio .weight-700 {
    line-height: 35px; }
  #fortofolio .card {
    padding: 0px; }

#gambar .image-1 img {
  width: 100%;
  height: 300px; }
#gambar .image-3 img {
  width: 100%;
  height: 250px; }
#gambar .image-5 img {
  width: 100%;
  height: 250px; }
#gambar .image-2 img {
  width: 100%;
  height: 550px; }
#gambar .image-4 img {
  width: 100%;
  height: 300px; }
#gambar .image-6 img {
  width: 100%;
  height: 250px; }

/*# sourceMappingURL=style.css.map */
