header {
    background-image: url(assets/bg-header.jpg);
    @extend %background-bg;
    
}
#nav-top {
    @extend %padding-top;
}
#banner {
    color: aliceblue;
    padding-top: 160px;
    .banner h4 {
        @extend %headling-h4;
    }
    .banner p {
        @extend %headling-p;
    }
    .banner h1 {
        @extend %headling-h1;
    }
    .banner .bg-header-headling {
        font-family: $font-montserrat;
        font-size: 30px;
        color: $color-default;
    }
    .btn-dark {
        color: $color-default;
        font-weight: 700;
        @extend %btn-width;
    }
    span {
        color: $color-blue;
    }
}
nav {
    li {
        padding: 0px 15px;
    }
    a {
        color: $color-default;
        font-weight: 700;
    }
    a:hover {
        color: #8799A3;
    }
    li.active a {
        color: #8799A3;
    }
    .btn-outline-success {
        border-color: #FFFF00!important;
        color: #FFFF00;
        font-weight: 700;
        text-transform: uppercase;
        @extend %btn-width;
        box-shadow: 0px 11px 24px -6px rgba(255,255,0,1);    }
    .btn-outline-success:hover {
        background-color: #FFFF00!important;
        color: #FFFFFF ; 
    }
}
#header {
    .logo {
        img {
            width: 140px;
        }
    }
}
#investigationes {
    padding: 80px 0 30px 0;
    background-color: #0081FF;
    
    h4 {
        @extend %headling-h4;
    }
    p {
        font-family: $font-montserrat;
        font-size: 15px;
        color : $color-default;
    }
    .weight-700 {
        font-weight: $weight-700;
        font-size: 30px;
        line-height: 35px;

    }
    .paddin {
        @extend %padding-top;
        font-size: 14px;
    }
}
#icon {
    padding: 40px 0;
    background-color: #007af3;
    font-size: 13px;
    .media {
        img {
            width: 40px;
        }
        h5 {
            color: $color-default;
            font-weight: 700;
            font-family: $font-montserrat;
        }
        p {
            color: $color-default;
            font-family: $font-montserrat;
        }
    }
}
