header {
    background-image: url(assets/bg-header.jpg);
    @extend %background-bg;
}
#nav-top {
    padding-top: 50px;
}
.banner {
    color: aliceblue;
    padding-top: 50px;
    .banner h4 {
        font-family : $font-leckerli;
    }
}
nav {
    li {
        padding: 0px 15px;
    }
    a {
        color: $color-default;
        font-weight: 700;
    }
    a:hover {
        color: #8799A3;
    }
    li.active a {
        color: #8799A3;
    }
    .btn-outline-success {
        border-color: #FFFF00!important;
        color: #FFFF00;
        font-weight: 700;
    }
    .btn-outline-success:hover {
        background-color: #FFFF00!important;
        color: #FFFFFF ; 
    }
}
#header {
    .logo {
        img {
            width: 140px;
        }
    }
}