$color-blue: lightblue;
$color-default : #FFFFFF;
$color-red  : red ;
$color-blue : #0081FF;

// font Content
$font-cambay: 'Cambay',sans-serif;
$font-coustard: 'Coustard',serif;
// font Heading
$font-leckerli  : 'Leckerli One', cursive;
$font-montserrat    : 'Montserrat', sans-serif;
$weight-700     : 700;


//header
%background-bg { //done
    background-image: url(assets/bg-header.jpg);
    background-repeat: initial;
    background-position: 175px -75px;
    background-size: cover;
    height: 660px;
    width: 100%;
}

//banner
%headling-h4 { //done
    font-family: "Leckerli One", cursive;
    font-size: 30px;
}

%headling-p {
    font-family: $font-montserrat;
    font-size: 17px;
    color: #636363;
            font-weight: 300;

}

%headling-h1 {
    font-family: $font-montserrat;
    font-size: 40px;
    font-weight: 900;
}

//button
%btn-width {
    border-radius: 50px;
    padding: 10px 25px;
}
// padding
%padding-top {
    padding-top: 50px;
}
%padding-right {
    padding-top: 50px;
}
%padding-bottom {
    padding-top: 50px;
}
%padding-left {
    padding-top: 50px;
}
%headling-h5 {
    color: $color-default;
}
%button-dark {
    color: #FFFFFF;
    font-weight: 900;
    background-color: #1F1E1E;
    cursor: pointer;
    text-transform: uppercase;
    padding: 10px 30px;
    font-size: 10px;
    border-radius: 50px;
}
%button-primary {
    margin-left: 40%;
    margin-top: 30px;
    background-color: #1CBBB3;
    box-shadow: 0 2px 10px #1CBBB3;
    padding: 10px 30px;
    border-radius: 50px;
    text-transform: uppercase;
    font-weight: 900;
    font-size: 10px;
    cursor: pointer;
    border: 1px solid #1CBBB3;
}

%button-primary-hover {
    background-color: darkgray;
    border: 1px solid darkgray;
    box-shadow: 0 2px 10px darkgray;
}


//global
%weight-700 {
    font-weight: 700;
    font-size: 30px;
}
%bg-header-text {
    font-family: $font-montserrat;
    font-size: 17px;
    font-weight: 300;
}