$color-blue: lightblue;
$color-default : #FFFFFF;
$color-red  : red ;
$color-blue : #0081FF;
// font Content
$font-cambay: 'Cambay',sans-serif;
$font-coustard: 'Coustard',serif;
// font Heading
$font-leckerli  : 'Leckerli One', cursive;
$font-montserrat    : 'Montserrat', sans-serif;
$weight-700     : 700;


//header
%background-bg { //done
    background-repeat: initial;
    background-position: 175px -75px;
    background-size: cover;
    height: 660px;
    width: 100%;
}

//banner
%headling-h4 { //done
    font-family: "Leckerli One", cursive;
    font-size: 23px;
//    color: #ffffff;
    padding-bottom: 10px;
}

%headling-p {
    font-family: $font-montserrat;
    font-size: 17px;
    color: #636363;
            font-weight: 300;

}

%headling-h1 {
    font-family: $font-montserrat;
    font-size: 40px;
    font-weight: 900;
}

//button
%btn-width {
    border-radius: 50px;
    padding: 10px 25px;
}
// padding
%padding-top {
    padding-top: 50px;
}
%padding-right {
    padding-top: 50px;
}
%padding-bottom {
    padding-top: 50px;
}
%padding-left {
    padding-top: 50px;
}
%headling-h5 {
    color: $color-default;
}
